name: CI/CD for HostelService

on:
  push:
    branches: [ "master" ]

jobs:
  build_test_and_push:
    runs-on: ubuntu-latest
    outputs:
      image_tag: ${{ steps.set-tag.outputs.image_tag }}

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: '8.0.x'

      - name: Restore
        run: dotnet restore HostelManagement.sln

      - name: Build
        run: dotnet build --configuration Release HostelManagement.sln

        # REMOVE TESTS
      - name: Skip Tests (no test project)
        run: echo "Skipping tests as no tests exist"

      - name: Set image tag
        id: set-tag
        run: echo "image_tag=${{ github.sha }}" >> $GITHUB_OUTPUT

      - name: Build Docker image
        run: |
          docker build \
            -t ${{ secrets.DOCKER_USERNAME }}/hostelmanagement:${{ steps.set-tag.outputs.image_tag }} \
            -f HostelService.API/Dockerfile \
            .


      - name: Login to DockerHub
        run: echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin

      - name: Push Docker image
        run: docker push ${{ secrets.DOCKER_USERNAME }}/hostelmanagement:${{ steps.set-tag.outputs.image_tag }}

  deploy_to_local_runner:
    needs: build_test_and_push
    runs-on: [self-hosted]
  
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
  
      - name: Debug paths
        shell: powershell
        run: |
            Set-ExecutionPolicy -Scope Process -ExecutionPolicy Bypass
            Write-Host "Current directory:"
            Get-Location
            Write-Host "List files:"
            Get-ChildItem -Recurse
  
      - name: Deploy using local runner
        run: |
          docker pull ${{ secrets.DOCKER_USERNAME }}/hostelmanagement:${{ needs.build_test_and_push.outputs.image_tag }}
          docker compose -f docker-compose.yml down
          docker compose -f docker-compose.yml up -d


